@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* background-color: #EEEFF3; */
    font-family: 'Roboto', sans-serif
}

.card {
    width: 260px;
    border: none;
    border-radius: 10px;
    background: #ccc
}

p.top {
    font-size: 14px
}


.discount {
    background-color: hsl(59, 94%, 51%);
    border: none;
    border-top-left-radius: 25px;
     /*! border-bottom-left-radius: 25px; */
    padding: 5px 15px;
    /*! transform: translateX(24px); */
    height: 35px;
    width: fit-content;
    align-items: center;
    display: flex;
    border-radius: 25px;
    }


.discount span {
    font-size: 15px
    color: chartreuse;
}

h2 {
    letter-spacing: 2px
}

.fa-euro-sign {
    font-size: 27px;
    color: #B3C4FA
}

.card-content p {
    line-height: 18px;
    font-size: 14px;
    color: #0000a6
}

.btn-primary {
    border: none;
    border-radius: 6px;
    background-color: #647EDF;
    padding-top: 0;
    height: 46px
}

.btn-primary span {
    font-size: 13px;
    color: #D1E2FF;
    margin-right: 10px
}

.fa-arrow-right {
    font-size: 12px;
    color: #D1E2FF
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #647EDF;
    box-shadow: none
}
